<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app class="hidden-print">
      <v-list-item two-line>
        <v-list-item-avatar>
          <v-img src="/images/logo-green.svg"></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>Доставка еды</v-list-item-title>
          <v-list-item-subtitle>г. Минусинск</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>
      <v-list dense>
        <v-list-item @click="toHome">
          <v-list-item-action>
            <v-icon color="primary">mdi-truck-delivery</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <template v-if="isAdminLogined()">
          <v-list-item @click="toDashboard">
            <v-list-item-action>
              <v-icon color="primary">mdi-monitor-dashboard</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Admin</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item @click="toProducts">
            <v-list-item-action>
              <v-icon color="primary">mdi-format-list-numbered</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Products</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item @click="toCategories">
            <v-list-item-action>
              <v-icon color="primary">mdi-format-list-numbered</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Categories</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="primary" dark class="hidden-print">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <img src="/images/logo.svg" height="40px" width="40px" alt />
      <v-toolbar-title class="ml-1">FoodDelivery</v-toolbar-title>
    </v-app-bar>

    <v-content>
      <router-view></router-view>
    </v-content>
    <v-footer color="secondary" app class="hidden-print">
      <router-link v-if="!isAdminLogined()" to="/login" class="white--text">LogIn</router-link>
      <button v-if="isAdminLogined()" @click="logOut()" class="white--text">LogOut</button>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "app",
  components: {},
  props: {
    source: String
  },
  computed: {
    customer() {
      return this.$store.getters.CUSTOMER;
    }
  },
  methods: {
    toHome() {
      this.$router.push("/").catch(err => {
        return err;
      });
      this.drawer = null;
    },
    toDashboard() {
      this.$router.push("/dashboard").catch(err => {
        return err;
      });
      this.drawer = null;
    },
    toCategories() {
      this.$router.push("/categories").catch(err => {
        return err;
      });
      this.drawer = null;
    },
    toProducts() {
      this.$router.push("/products").catch(err => {
        return err;
      });
      this.drawer = null;
    },

    //Auth

    logout: function() {
      this.$store.dispatch("AUTH_LOGOUT").then(() => {
        this.$router.push("/login");
      });
    },
    isAdminLogined() {
      return this.$store.getters.authStatus === "success";
    },
    logOut() {
      this.$store.dispatch("AUTH_LOGOUT");
      this.toHome();
    }
  },
  data: () => ({
    drawer: null
  }),
  mounted: async function() {
    let logined = await this.$store.dispatch("IS_AUTHENTICATED");
    if (logined) {
      this.$store.commit("AUTH_SUCCESS");
    }
    this.$store.dispatch("GET_ALL_CATEGORIES");
    this.$store.dispatch("GET_CONFIG");
    this.$store.dispatch("GET_ALL_PRODUCTS");
    this.drawer = false;
  }
};
</script>

<style>
@media print {
  .hidden-print {
    display: none !important;
    visibility: hidden;
  }
}
</style>