<template>
  <v-row class="mt-0">
    <v-col class="mt-0">
      <v-card class="ma-1 pa-3 mt-0 pt-0" :class="printCargo?'':'hidden-print'">
        <v-card-title>
          ДОСТАВКА
          <v-spacer></v-spacer>
          <v-btn
            v-if="printCargo"
            class="hidden-print"
            x-small
            @click="printCargo= !printCargo"
          >печатать</v-btn>
          <v-btn
            v-else
            class="hidden-print"
            x-small
            @click="printCargo= !printCargo"
            color="error"
          >не печатать</v-btn>
        </v-card-title>
        <div class="order-border mb-1">
          <v-simple-table>
            <tbody>
              <tr v-for="(order,index ) in activeOrders" :key="index">
                <td class="font-weight-black text-left">Заказ #{{index+1}}</td>
                <td class="font-weight-black text-left">{{ order.name }}</td>
                <td class="font-weight-black text-left">{{ order.phone }}</td>
                <td class="font-weight-black text-left">{{ order.address }}</td>
                <td class="font-weight-black text-left">{{ getOrderAmount(order) }} руб.</td>
              </tr>
            </tbody>
          </v-simple-table>
        </div>
      </v-card>

      <v-card class="ma-1 pa-3 mt-0 pt-0" :class="printCompiledCargo?'':'hidden-print'">
        <v-card-title>
          ДОСТАВКА
          <v-spacer></v-spacer>
          <v-btn
            v-if="printCompiledCargo"
            class="hidden-print"
            x-small
            @click="printCompiledCargo= !printCompiledCargo"
          >печатать</v-btn>
          <v-btn
            v-else
            class="hidden-print"
            x-small
            @click="printCompiledCargo= !printCompiledCargo"
            color="error"
          >не печатать</v-btn>
        </v-card-title>
        <div class="order-border mb-1">
          <v-simple-table>
            <tbody>
              <tr v-for="(order,index ) in getCompiledOrdersArray()" :key="index">
                <td class="font-weight-black text-left">{{ order.name }}</td>
                <td class="font-weight-black text-left">{{ order.phone }}</td>
                <td class="font-weight-black text-left">{{ order.address }}</td>
                <td class="font-weight-black text-left">{{ order.orderAmount }} руб.</td>
              </tr>
            </tbody>
          </v-simple-table>
        </div>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Orders",
  data() {
    return {
      printCargo: false,
      printCompiledCargo: false
    };
  },
  computed: {
    activeOrders() {
      let acvtiveOrders = this.$store.getters.ORDERS;
      return acvtiveOrders;
    },
    products() {
      return this.$store.getters.PRODUCTS;
    }
  },
  methods: {
    getProduct(productId) {
      if (this.products.length > 0) {
        let products = this.products.filter(product => {
          return product._id == productId;
        });

        return products[0];
      }
      return {};
    },

    getOrderAmount(order) {
      let orderAmount = 0;
      order.positions.map(position => {
        let product = this.getProduct(position.productId);
        orderAmount += product.price * position.quantity;
        return false;
      });
      return orderAmount;
    },
    getCompiledOrdersArray() {
      if (this.activeOrders.length > 0) {
        let orders = this.activeOrders.map((order, index) => {
          let samePhoneAndAddresOrders = this.activeOrders.filter(
            (order2, index2) => {
              return (
                order.phone === order2.phone && order.address === order2.address
              );
            }
          );
          let accamulatorZero = {
            orderNumbers: new Set(),
            name: "",
            phone: "",
            address: "",
            orderAmount: 0
          };
          const reducer = (accumulator, order3, redIndex) => {
            // accumulator.orderNumbers.add("Заказ №" + (index + 1));

            accumulator.phone = order3.phone;
            accumulator.name = order3.name;
            accumulator.address = order3.address;
            accumulator.orderAmount += this.getOrderAmount(order3);
            return accumulator;
          };
          let compiledOrder = samePhoneAndAddresOrders.reduce(
            reducer,
            accamulatorZero
          );
          return compiledOrder;
        });
        console.log("====");
        console.log(orders);
        orders = orders.map(order => {
          order.orderNumbers = Array.from(order.orderNumbers);
          return order;
        });
        console.log(orders);
        console.log("====");
        let uniqueCompiledOrders = new Set();
        orders.map(order => {
          uniqueCompiledOrders.add(JSON.stringify(order));
        });
        orders = Array.from(uniqueCompiledOrders).map(order =>
          JSON.parse(order)
        );
        return orders;
      }
      return [];
    }
  },
  mounted() {
    this.$store.dispatch("GET_NOT_ARCHIVED_ORDERS");
  }
};
</script>

<style scoped>
.order-border {
  border: 1px solid black;
}
</style>