<template>
  <v-card class="mx-auto mt-3" max-width="300" tile>
    <template v-if="!editFormOpend">
      <v-list>
        <v-subheader>Категории</v-subheader>
        <v-list-item-group color="primary">
          <v-list-item v-for="(category, categoryIndex) in categories" :key="categoryIndex">
            <v-list-item-icon>
              <v-btn icon @click="openForm(categoryIndex)">
                <v-icon color="grey lighten-1">mdi-square-edit-outline</v-icon>
              </v-btn>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="category.categoryName"></v-list-item-title>
            </v-list-item-content>
            <v-list-item-action>
              <v-btn icon @click="deleteCategory(categoryIndex)">
                <v-icon color="grey lighten-1">mdi-delete-forever</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-list-item-group>
      </v-list>
      <v-list color="primary" dark>
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-new-box</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Добавить категорию</v-list-item-title>
          </v-list-item-content>
          <v-list-item-action>
            <v-btn icon @click="openForm(-1)">
              <v-icon color="grey lighten-1">mdi-plus-thick</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
      </v-list>
    </template>
    <form v-else class="login" @submit.prevent="saveCategory">
      <v-card-title>Введите имя категории</v-card-title>
      <v-card-text>
        <v-text-field
          v-model="categoryName"
          label="Имя категории"
          prepend-icon="mdi-rename-box"
          required
        ></v-text-field>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-progress-circular v-if="sendingRequest" indeterminate color="primary"></v-progress-circular>
        <v-btn v-else type="submit" color="primary">Сохранить</v-btn>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="closeForm()">Отмена</v-btn>
      </v-card-actions>
    </form>
    <v-snackbar v-model="snackbar" top right color="accent" class="black--text">
      {{ saveMessage }}
      <v-btn color="black" text @click="snackbar = false">Close</v-btn>
    </v-snackbar>
  </v-card>
</template>

<script>
export default {
  name: "Categories",
  data() {
    return {
      //form
      saveMessage: "",
      snackbar: false,
      editFormOpend: false,
      editCategoryIndex: -1,
      sendingRequest: false,
      //data
      categoryName: ""
    };
  },
  computed: {
    categories() {
      return this.$store.getters.CATEGORIES;
    }
  },
  methods: {
    async saveCategory() {
      this.sendingRequest = true;
      let saveResult = false;
      if (this.editCategoryIndex !== -1) {
        let updateCategory = {
          _id: this.categories[this.editCategoryIndex]._id,
          categoryName: this.categoryName
        };
        saveResult = await this.$store.dispatch(
          "UPDATE_CATEGORY",
          updateCategory
        );
      } else {
        let newCategory = {
          categoryName: this.categoryName
        };
        saveResult = await this.$store.dispatch(
          "SAVE_NEW_CATEGORY",
          newCategory
        );
      }
      if (saveResult) {
        this.editFormOpend = false;
        this.saveMessage = this.categoryName + " сохранено";
      } else {
        this.saveMessage = this.categoryName + " ОШИБКА";
      }

      this.sendingRequest = false;
      this.categoryName = "";
      this.snackbar = true;
    },
    deleteCategory(categoryIndex) {
      let categoryId = this.categories[categoryIndex]._id;
      this.$store.dispatch("DELETE_CATEGORY", categoryId);
      console.log(categoryId);
    },
    openForm(categoryIndex) {
      this.editCategoryIndex = categoryIndex;
      if (categoryIndex !== -1) {
        this.categoryName = this.categories[categoryIndex].categoryName;
      }
      this.editFormOpend = true;
    },
    closeForm() {
      this.editCategoryIndex = -1;
      this.editFormOpend = false;
    }
  },
  mounted() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>