<template>
  <div>
    <Orders />
    <Cargo />
    <v-btn fab dark large color="primary" fixed right bottom class="mb-7" @click="prinThisPage()">
      <v-icon dark>mdi-printer</v-icon>
    </v-btn>
  </div>
</template>

<script>
import Orders from "./Orders";
import Cargo from "./Cargo";
export default {
  name: "Dashboard",
  data() {
    return {};
  },
  methods: {
    prinThisPage() {
      window.print();
    }
  },
  mounted() {},
  components: {
    Orders,
    Cargo
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>