<template>
  <v-row class="mt-0">
    <v-col class="mt-0 pt-0">
      <v-card class="ma-1 pa-3 mt-0 pt-0">
        <v-card-title class="pt-0 hidden-print">
          Заказов на {{getFullOrdersAmount()}} руб.
          <v-spacer></v-spacer>
          <v-btn
            class="hidden-print"
            x-small
            @click="allOrdersPrintState(false)"
          >печатать все заказы</v-btn>
          <v-btn
            class="hidden-print"
            x-small
            @click="allOrdersPrintState(true)"
            color="error"
          >не печатать заказы</v-btn>
        </v-card-title>

        <div
          v-for="(order,index ) in activeOrders"
          :key="index"
          :class="printOrdersState[index]?'hidden-print':''"
          class="order-border mb-1 do-not-break-it"
        >
          <v-card-title>
            Заказ #{{index+1}}
            <v-spacer></v-spacer>
            <v-btn
              v-if="!printOrdersState[index]"
              class="hidden-print"
              x-small
              @click="changeOrderSatte(index)"
            >выводить на печать</v-btn>
            <v-btn
              v-if="printOrdersState[index]"
              class="hidden-print"
              x-small
              @click="changeOrderSatte(index)"
              color="error"
            >не печатать</v-btn>
          </v-card-title>
          <v-simple-table>
            <thead>
              <tr>
                <th class="text-left">Имя</th>
                <th class="text-left">Телефон</th>
                <th class="text-left">Адрес</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="font-weight-black">{{ order.name }}</td>
                <td class="font-weight-black">{{ order.phone }}</td>
                <td class="font-weight-black">{{ order.address }}</td>
              </tr>
            </tbody>
          </v-simple-table>
          <v-simple-table :key="'pos_table_'+index" dense>
            <thead>
              <tr>
                <th class="text-left">Наименование</th>
                <th class="text-left">Опция</th>
                <th class="text-left">Цена</th>
                <th class="text-left">Количество</th>
                <th class="text-left">Стоимость</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(position, positionIndex) in order.positions"
                :key="'positions_'+positionIndex"
              >
                <td>{{ getProduct(position.productId).name }}</td>
                <td>{{ getOptionName(getProduct(position.productId), position.option) }}</td>
                <td>{{ getProduct(position.productId).price }}</td>
                <td>{{ position.quantity }}</td>
                <td>{{ getProduct(position.productId).price * position.quantity }}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="font-weight-black">ИТОГО</td>
                <td class="font-weight-black">{{getOrderAmount(order)}}</td>
              </tr>
            </tbody>
          </v-simple-table>
        </div>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Orders",
  data() {
    return { printOrdersState: [] };
  },
  computed: {
    activeOrders() {
      let acvtiveOrders = this.$store.getters.ORDERS;
      return acvtiveOrders;
    },
    products() {
      return this.$store.getters.PRODUCTS;
    }
  },
  methods: {
    allOrdersPrintState(newState) {
      if (newState !== true) {
        this.printOrdersState = [];
      } else {
        this.activeOrders.map((_, index) => {
          this.$set(this.printOrdersState, index, true);
        });
      }
    },
    changeOrderSatte(index) {
      console.log(index);
      this.$set(this.printOrdersState, index, !this.printOrdersState[index]);
    },
    getProduct(productId) {
      if (this.products.length > 0) {
        let products = this.products.filter(product => {
          return product._id == productId;
        });

        return products[0];
      }
      return {};
    },
    getOptionName(product, optionIndex) {
      if (product.options) {
        return product.options[optionIndex];
      } else {
        return "";
      }
    },
    getOrderAmount(order) {
      let orderAmount = 0;
      order.positions.map(position => {
        let product = this.getProduct(position.productId);
        orderAmount += product.price * position.quantity;
        return false;
      });
      return orderAmount;
    },
    getFullOrdersAmount() {
      let fullOrdersAmount = 0;
      this.activeOrders.map(order => {
        fullOrdersAmount += this.getOrderAmount(order);
      });
      return fullOrdersAmount;
    }
  },
  mounted() {
    this.$store.dispatch("GET_NOT_ARCHIVED_ORDERS");
  }
};
</script>

<style scoped>
.order-border {
  border: 1px solid black;
}
.do-not-break-it {
  page-break-inside: avoid;
}
</style>