<template>
  <v-row>
    <v-col v-if="editProductIndex === 'formIsClosed'" xs="12" sm="12" md="6">
      <v-card class="mx-auto mt-5">
        <v-card-title>
          Ассортимент
          <v-icon @click="openForm('newProduct') " color="primary" class="mx-5">mdi-plus-box</v-icon>
        </v-card-title>
        <v-list v-for="(category,categoryIndex) in categories" :key="categoryIndex">
          <v-subheader>{{category.categoryName}}</v-subheader>

          <template v-for="(product, productIndex) in products">
            <template v-if="category._id === product.categoryId  && !product.isActive">
              <v-list-item :key="productIndex" @click="openForm(productIndex) ">
                <v-list-item-content>
                  <span>{{product.name}}</span>
                  <template v-if="product.options">
                    <v-list-item-subtitle v-text="product.options.join(', ')"></v-list-item-subtitle>
                  </template>
                </v-list-item-content>
                <v-list-item-action>{{product.price}} руб.</v-list-item-action>
                <v-list-item-action>
                  <v-btn icon @click.stop="toggleProductIsActiveStatus(productIndex)">
                    <v-icon color="primary">mdi-arrow-right-bold</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
              <v-divider :key="'div'+productIndex"></v-divider>
            </template>
          </template>
        </v-list>
      </v-card>
    </v-col>
    <v-col v-if="editProductIndex === 'formIsClosed'" xs="12" sm="12" md="6">
      <v-card class="mx-auto mt-5" :color="menuIsPassive? 'error':'green'">
        <v-card-title>
          Активное меню
          <v-spacer></v-spacer>
          <v-btn v-if="menuIsPassive" @click="activateThisMenu()" color="green">Опубликовать</v-btn>
        </v-card-title>

        <v-list v-for="(category,categoryIndex) in categories" :key="categoryIndex">
          <v-subheader>{{category.categoryName}}</v-subheader>

          <template v-for="(product, productIndex) in products">
            <template v-if="category._id === product.categoryId && product.isActive">
              <v-list-item :key="'active_'+productIndex" @click="openForm(productIndex)">
                <v-list-item-icon>
                  <v-btn icon @click.stop="toggleProductIsActiveStatus(productIndex)">
                    <v-icon color="primary">mdi-arrow-left-bold</v-icon>
                  </v-btn>
                </v-list-item-icon>
                <v-list-item-content>
                  <span>{{product.name}}</span>
                  <template v-if="product.options">
                    <v-list-item-subtitle v-text="product.options.join(', ')"></v-list-item-subtitle>
                  </template>
                </v-list-item-content>
                <v-list-item-action>{{product.price}} руб.</v-list-item-action>
              </v-list-item>
              <v-divider :key="'div'+productIndex"></v-divider>
            </template>
          </template>
        </v-list>
        <v-card-actions v-if="!menuIsPassive">
          <v-spacer></v-spacer>
          <v-btn @click="deactivateThisMenu()" color="error">Снять с публикации</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
    <v-col v-if="editProductIndex !== 'formIsClosed'">
      <v-card class="mx-auto mx-5" max-width="728">
        <form class="login" @submit.prevent="saveProduct">
          <v-card-title v-if="editProductIndex !== 'newProduct'">
            Редактирование товара
            <v-spacer></v-spacer>
            <v-btn
              v-if="editProductIndex !== 'newProduct'"
              @click="deleteProduct(editProductIndex)"
              color="error"
            >Удалить товар</v-btn>
          </v-card-title>

          <v-card-title v-if="editProductIndex === 'newProduct'">Создание товара</v-card-title>
          <v-card-text>
            <v-text-field
              v-model="temploraryProduct.name"
              label="Наиманование"
              prepend-icon="mdi-rename-box"
              required
            ></v-text-field>
            <v-divider></v-divider>
            <v-text-field
              v-model="temploraryProduct.price"
              label="Цена"
              suffix="руб."
              type="number"
              prepend-icon="mdi-currency-rub"
              required
            ></v-text-field>
            <v-divider></v-divider>
            <h3 class="mt-5">
              Опции
              <v-icon @click="addNewOption()" color="primary" class="mx-5">mdi-plus-box</v-icon>
            </h3>
            <template v-for="(option,optionIndex) in temploraryProduct.options">
              <v-text-field
                :key="optionIndex"
                v-model="temploraryProduct.options[optionIndex]"
                :label="(optionIndex+1) + ' опция'"
                append-icon="mdi-delete"
                @click:append="deleteOption(optionIndex)"
                prepend-icon="mdi-food-variant"
                required
              ></v-text-field>
            </template>
            <v-divider></v-divider>
            <template v-if="temploraryProduct.categoryId === ''">
              <h3 class="mt-5">Выберите категорию</h3>
              <template v-for="(category,categoryIndex) in categories">
                <v-btn
                  :key="'category_'+categoryIndex"
                  color="secondary"
                  class="ma-1"
                  @click="temploraryProduct.categoryId=categories[categoryIndex]._id"
                >{{category.categoryName}}</v-btn>
              </template>
            </template>
            <template v-else>
              <h3 class="mt-5">Выбрана категория</h3>
              <template v-for="(category,categoryIndex) in categories">
                <v-btn
                  v-if="categories[categoryIndex]._id===temploraryProduct.categoryId"
                  :key="'chosen_'+categoryIndex"
                  color="secondary"
                  class="ma-1"
                  @click="temploraryProduct.categoryId=''"
                >{{category.categoryName}} (отмена)</v-btn>
              </template>
            </template>
            <v-divider></v-divider>
            <template v-if="temploraryProduct.comboCategoryId === ''">
              <h3 class="mt-5">Выберите комбо категорию</h3>
              <template v-for="(category,categoryIndex) in categories">
                <v-btn
                  :key="'combo_category_'+categoryIndex"
                  color="secondary"
                  class="ma-1"
                  @click="temploraryProduct.comboCategoryId=categories[categoryIndex]._id"
                >{{category.categoryName}}</v-btn>
              </template>
            </template>
            <template v-else>
              <h3 class="mt-5">Комбо категория</h3>
              <template v-for="(category,categoryIndex) in categories">
                <v-btn
                  v-if="categories[categoryIndex]._id===temploraryProduct.comboCategoryId"
                  :key="'combo_chosen_'+categoryIndex"
                  color="secondary"
                  class="ma-1"
                  @click="temploraryProduct.comboCategoryId=''"
                >{{category.categoryName}} (отмена)</v-btn>
              </template>
            </template>
          </v-card-text>

          <v-card-actions>
            <v-btn
              type="submit"
              color="primary"
              :disabled="temploraryProduct.categoryId===''"
            >Coхранить</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="error" @click="closeForm()">Отмена</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Products",
  data() {
    return {
      editProductIndex: "formIsClosed",
      temploraryProduct: {
        name: "",
        price: "",
        isActive: false,
        categoryId: "",
        comboCategoryId: "",
        options: []
      },
      defaultEmptyProduct: {
        name: "",
        price: "",
        isActive: false,
        categoryId: "",
        comboCategoryId: "",
        options: []
      }
    };
  },
  computed: {
    products() {
      return this.$store.getters.PRODUCTS;
    },
    categories() {
      return this.$store.getters.CATEGORIES;
    },
    config() {
      return this.$store.getters.CONFIG;
    },
    menuIsPassive() {
      if (this.$store.getters.CONFIG) {
        return this.$store.getters.CONFIG.menuIsPassive;
      }
      return true;
    }
  },
  methods: {
    activateThisMenu() {
      let config = JSON.parse(JSON.stringify(this.config));
      config.menuIsPassive = false;
      this.$store.dispatch("CHANGE_CONFIG", config);
    },
    deactivateThisMenu() {
      let config = JSON.parse(JSON.stringify(this.config));
      config.menuIsPassive = true;
      this.$store.dispatch("CHANGE_CONFIG", config);
    },
    openForm(productIndex) {
      this.editProductIndex = productIndex;
      if (this.editProductIndex !== "newProduct") {
        this.temploraryProduct = JSON.parse(
          JSON.stringify(this.products[productIndex])
        );
      }
      // console.log(this.temploraryProduct);
    },
    closeForm() {
      this.editProductIndex = "formIsClosed";
      this.temploraryProduct = JSON.parse(
        JSON.stringify(this.defaultEmptyProduct)
      );
    },
    addNewOption() {
      this.temploraryProduct.options.push("");
    },
    deleteOption(optionIndex) {
      this.temploraryProduct.options.splice(optionIndex, 1);
    },
    async toggleProductIsActiveStatus(productIndex) {
      this.temploraryProduct = JSON.parse(
        JSON.stringify(this.products[productIndex])
      );
      // let saveResult = false;
      this.temploraryProduct.isActive = !this.temploraryProduct.isActive;
      let updateResult = await this.$store.dispatch(
        "UPDATE_PRODUCT",
        this.temploraryProduct
      );
      return updateResult;
    },
    async saveProduct() {
      let saveResult = false;
      this.temploraryProduct.price = +this.temploraryProduct.price;
      if (this.editProductIndex === "newProduct") {
        // console.log("create", this.temploraryProduct);
        saveResult = await this.$store.dispatch(
          "SAVE_NEW_PRODUCT",
          this.temploraryProduct
        );
      } else {
        // console.log("update", this.temploraryProduct);
        saveResult = await this.$store.dispatch(
          "UPDATE_PRODUCT",
          this.temploraryProduct
        );
      }

      if (saveResult) {
        this.closeForm();
      }
    },
    async deleteProduct(productIndex) {
      let deleteResult = false;
      if (this.products[productIndex]) {
        // console.log("delete", this.temploraryProduct);
        deleteResult = await this.$store.dispatch(
          "DELETE_PRODUCT",
          this.products[productIndex]._id
        );
      }
      if (deleteResult) {
        this.closeForm();
      }
    }
  },
  mounted() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>