<template>
  <v-row>
    <v-col xs="12" sm="12" md="12">
      <v-card v-if="!menuIsPassive" class="mx-auto mt-5" color="green">
        <v-card-title>Активное меню</v-card-title>

        <v-list v-for="(category,categoryIndex) in categories" :key="categoryIndex">
          <v-subheader>{{category.categoryName}}</v-subheader>

          <template v-for="(product, productIndex) in products">
            <template v-if="category._id === product.categoryId && product.isActive">
              <v-list-item :key="'active_'+productIndex" @click="addToOrder(productIndex)">
                <v-list-item-icon>
                  <v-icon color="secondary">mdi-plus-box</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <span>{{product.name}}</span>
                  <template v-if="product.options">
                    <v-list-item-subtitle v-text="product.options.join(', ')"></v-list-item-subtitle>
                  </template>
                </v-list-item-content>
                <v-list-item-action>{{product.price}} руб.</v-list-item-action>
              </v-list-item>
              <v-divider :key="'div'+productIndex"></v-divider>
            </template>
          </template>
        </v-list>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn v-if="false" @click="order()" color="primary">Cделать заказ</v-btn>
        </v-card-actions>
      </v-card>
      <v-card max-width="400" v-if="menuIsPassive" class="mx-auto mt-5" color="green">
        <v-card-title>Активное меню</v-card-title>

        <v-card-text>На данный момент нет активного меню.</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {};
  },
  computed: {
    products() {
      return this.$store.getters.PRODUCTS;
    },
    categories() {
      return this.$store.getters.CATEGORIES;
    },
    config() {
      return this.$store.getters.CONFIG;
    },
    menuIsPassive() {
      if (this.$store.getters.CONFIG) {
        return this.$store.getters.CONFIG.menuIsPassive;
      }
      return true;
    }
  },
  methods: {
    order() {},
    addToOrder(productIndex) {
      return productIndex;
    }
  },
  async mounted() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
