<template>
  <form class="login" @submit.prevent="login">
    <v-card width="450" class="mx-auto mt-5">
      <v-card-title v-if="isLogined()">Login success!!!</v-card-title>
      <v-card-title v-else>Login</v-card-title>
      <v-card-text>
        <v-text-field
          v-model="username"
          label="User name"
          prepend-icon="mdi-account-circle"
          required
        ></v-text-field>
        <v-text-field
          v-model="password"
          label="Password"
          :type="showPassword? 'text': 'password'"
          prepend-icon="mdi-lock"
          :append-icon="showPassword? 'mdi-eye':'mdi-eye-off'"
          required
          @click:append="showPassword = !showPassword"
        ></v-text-field>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn type="submit" color="primary">Login</v-btn>
      </v-card-actions>
    </v-card>
    <v-snackbar v-model="snackbar" top right color="error">
      {{ wrongPasswordText }}
      <v-btn color="black" text @click="snackbar = false">Close</v-btn>
    </v-snackbar>
  </form>
</template>

<script>
export default {
  name: "LoginForm",
  data() {
    return {
      username: "",
      password: "",
      logined: false,
      showPassword: false,
      snackbar: false,
      wrongPasswordText: "Неправильный логин или пароль"
    };
  },
  methods: {
    login: function() {
      const { username, password } = this;
      let trimed_username = username.trim();
      let trimmed_password = password.trim();
      console.log(trimed_username, trimmed_password);
      this.$store
        .dispatch("AUTH_REQUEST", {
          username: trimed_username,
          password: trimmed_password
        })
        .then(() => {
          this.$router.push("/");
        })
        .catch(err => {
          console.log(err);
          this.snackbar = true;
        });
    },
    isLogined() {
      return this.$store.getters.authStatus === "success";
    }
  },
  mounted() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>