<!DOCTYPE html>
<html lang="ru">
  <head>
    <style>
      #botanica_loading_screen {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95vw;
        height: 95vh;
        background-color: #665cac;
      }

      .botanica-loading-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    </style>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>FoodDelivery</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"
    />
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but client doesn't work properly without JavaScript
        enabled. Please enable it to continue.
      </strong>
    </noscript>
    <div id="app">
      <div id="botanica_loading_screen">
        <div class="botanica-loading-icon">
          <div>
            <img
              src="/images/monstera-logo.svg"
              height="40px"
              width="35px"
              alt=""
            />
          </div>
          <div style="color:white">LOADING</div>
        </div>
      </div>
    </div>

    <!-- built files will be auto injected -->
  </body>
</html>
